* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevent scrollbars */
}

.game {
    width: 100%;
    height: 100%;
}

.gameArea {
    background-color: black;
    width: 400px;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin:  auto;
}

.car, .enemy {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px; 
    height: 100px;
    background-color: white;
    background-image: url('../Images/car2.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    font-size: 2em;
    color: white;
}


.line {
    position: absolute;
    height: 100px;
    width: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
}

.score {
    background-color: black;
    color: white;
    height: 70px;
    text-align: center;
    font-size: 1.5em;
    font-family: fantasy;
}

.startScreen {
    text-align: center;
    border: 1px solid red;
    padding: 15px;
    margin: auto;
    width: 50%;
    position: absolute;
    background-color: red;
    left: 25%;
    top: 100px;
    color: white;
    z-index: 1;
    font-family: sans-serif;
}